@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

* {
  font-family: "Manrope", sans-serif;
}

@theme {
  --color-primary: #5044e5;
}

.reset-tw,
.reset-tw * {
  all: revert !important;
}

.cl-drawerRoot {
  z-index: 10;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 15s linear infinite;
}

body {
  background: url("/gradientBackground.png") no-repeat center center fixed;
  background-size: cover;
}
